@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: block;
    margin: auto;
     background-color: rgb(26, 17, 34);
     max-width: 800px;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
}

section.user-area {
    display: flex;
    align-items: center;
    gap: 10px;   
    width: 95%;
}

img {
    width: 85px;
    padding: 10px;
    border-radius: 50%;
}

.name {
    font-weight: bold;
}

.status {
    color: #40ffa6;
}

.circle-online {
    font-size: 10px;
    color: #40ffa6;
    transform: translateY(-1px);
}

.fa-close {
    padding: 10px;
    cursor: pointer;
}

.waring {
    margin: auto;
    width: 60%;
    background-color: #313131;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.currently-day {
    margin: 10px;
    text-align: center;
    font-size: 14px;
    color: rgb(168, 168, 168);
}

section.geral-chat {
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

section.geral-chat::-webkit-scrollbar {
    width: 0;
}

section.geral-chat::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.messages-Out {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

.home-msg {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #790079;
    padding: 10px;
    border-radius: 0px 10px 10px 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.514);
}

.out-msg {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #279964;
    padding: 10px;
    border-radius: 10px 0px 10px 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.514);
}

.time-msg {
    margin-top: 5px;
    font-size: 12px;
    text-align: end;
}

.send-message {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

input#typer {
    width: 90%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border: none;
    background-color: #313131;
}

#send-button {
    padding: 10px;
    background-color: #279964;
    border-radius: 50%;
    border: none;
    margin-left: 5px;
    cursor: pointer;
}